<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Bulletin Board
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div> 
    <em><b>Good morning @shish! </b></em>
  </div>
  <ion-card>
    <ion-card-header>
        <mark><b>Trade Affirmation issue in GCF </b></mark>
    </ion-card-header>
    <ion-card-content>
        On Tuesday we encountered an issue regarding a forward standing trade that was affirmed by another counter party. Check email for more details. 
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
          <b>SHB Rel 3 Production date scheduled</b>
      </ion-card-header>
      <ion-card-content>
          Production date for SHB Release 3 has been scheduled to Jan 10, 2019. This release includes vital functionalities like Create, Cancel Obligations, Auto Send, SDS Create, Pair-off, Cancel. 
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <mark><b>TXP000: GSD_RT Engine Error</b></mark>
        </ion-card-header>
        <ion-card-content>
            Error processing the txpress response messages by txp.realtime.worker process. Exception type is: java.lang.IllegalStateException. Check more detail in email.  
        </ion-card-content>
      </ion-card>
    <ion-card>
        <ion-card-header>
            <b>SHB Rel 3 Production date scheduled</b>
        </ion-card-header>
        <ion-card-content>
            Production date for SHB Release 3 has been scheduled to Jan 10, 2019. This release includes vital functionalities like Create, Cancel Obligations, Auto Send, SDS Create, Pair-off, Cancel. 
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <mark><b>TXP000: GSD_RT Engine Error</b></mark>
        </ion-card-header>
        <ion-card-content>
            Error processing the txpress response messages by txp.realtime.worker process. Exception type is: java.lang.IllegalStateException. Check more detail in email.  
        </ion-card-content>
    </ion-card>
</ion-content>
