<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group *ngFor="let members of membersGrouping">
    <ion-item-divider color="primary">{{members.title}}</ion-item-divider>
    <ion-item detail-push *ngFor="let item of members.list" [routerLink]="[item.id]">
      <ion-icon name="person" slot="start"></ion-icon>
      {{item?.name}}
      <div class="item-note" slot="end">
        {{item?.role}}
      </div>
    </ion-item>
  </ion-item-group>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>