<ion-header>
  <ion-toolbar>
    <ion-title>D-LINX</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>        
  <table width="100%">
    <tr>
      <td align="center">
          
              <b>Welcome to the D-LINX App!</b> 
            
      </td>
      <td align="right">
          <img src="assets/images/icons/icon-128x128.png" width="100" hight="100">
      </td>
    </tr>
  </table>
  
  <ion-card> 
    <ion-card-header>
      <ion-card-subtitle>Enter Your Credentials</ion-card-subtitle>            
    </ion-card-header>          
    <ion-item>
      <ion-label position="fixed">Login ID</ion-label>
      <ion-icon name="contact" color="primary"></ion-icon>
      <ion-input [(ngModel)]="userName" required type="text" placeholder="LanID" ></ion-input>
      
    </ion-item>
    <ion-item>      
      <ion-label position="fixed">Password</ion-label>
      <ion-icon name="key" color="primary"></ion-icon>
      <ion-input [(ngModel)]="password" required type="password" placeholder="password" ></ion-input>
    </ion-item>
    <div>
      <ion-button size="small" shape="round" position="right" (click)="login()">Login</ion-button>
      <ion-button href="/login" size="small" shape="round" position="right">Cancel</ion-button>
    </div>
  </ion-card>        
  <p>&nbsp;</p>
  <small>
      This D-LINX (DTCC-LINX) app will help you to receive notifications about production issues, team announcements, tasks assignments, etc. It also has information like production support, development team contact lists, release schedules, etc. 
  </small>
</ion-content>
