.pending {
    color: blue
}
.progress {
    color: yellow;
}
.closed {
    color: green;
}
    .high-priority {
        color: red;
    }
    .med-priority {
        color: yellow;
    }
    .low-priority {
        color: green;
    } 
.completion-pct {
    color: blue;
}

