<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item-group *ngFor="let totalTasks of tasks">
    <ion-item-divider light>{{totalTasks.title}}</ion-item-divider>
    <ion-item *ngFor="let item of totalTasks.list" [routerLink]="[item.id]">
      {{item.title}}
      <div [ngClass]="getStatusClass(item)" class="item-note" slot="end">
        <div class="priority">
          <div [ngClass]="getPriorityClass(item)">
            <strong>{{item.priority}}</strong>
          </div>
        </div>
        <strong>{{item.status}}</strong>
      </div>
    </ion-item>
  </ion-item-group>
</ion-content>