<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar [(ngModel)]="filterText" (ionChange)="filterTextChange()" animated placeholder="Filter Tasks"></ion-searchbar>
  <ion-item-group *ngFor="let totalTasks of tasks">
    <ion-item-divider color="primary">{{totalTasks.title}}</ion-item-divider>
    <ion-item detail *ngFor="let item of totalTasks.list" [routerLink]="[item.id]">
      {{item.title}}
      <div class="item-note" slot="end">
        <ion-icon [ngClass]="getPriorityClass(item)" [name]="getPriority(item)"></ion-icon>
        <div class="completion-pct">{{item.completionPct}} %</div>
      </div>
    </ion-item>
  </ion-item-group>
</ion-content>